# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Docker / runtime
*.pid
